<div class="d-flex flex-row align-items-center justify-content-center" style="height: calc(100vh - 72px);">
  <div class="col-3 h-75 px-5">
    <%= form_with url: courses_query_path, method: :get  do |form| %>
      <div class="mb-3">
        <%= form.label :degree, class: "form-label fw-bold" %>
        <%= form.search_field :degree, class: "form-control", onchange: "this.form.requestSubmit()", value: params[:degree] %>
      </div>
      <div class="mb-3">
        <%= form.label :university, class: "form-label fw-bold" %>
        <% @universities.each do |university| %>
          <div class="form-check">
            <%= check_box_tag "university[#{university}]", checked: params.dig(:university, university), class: "form-check-input" %>
            <%= form.label "university[#{university}]", university, class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-6 h-75 px-5" style="overflow-y: scroll;">
    <% @courses.each do |course| %>
      <div class="d-flex flex-row rounded bg-secondary-subtle p-3 m-1">
        <div class="col-10">
          <a href="<%= course_path(course.id) %>" class="text-reset text-decoration-none">
            <div class="fw-bold">
              <%= course.degree %>
            </div>
            <div>
              <%= course.university %>
            </div>
          </a>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-end px-3">
          <%= form_with url: bookmarks_path do |form| %>
            <%= form.hidden_field :course_id, value: course.id %>
            <button type="submit" class="btn">
              <% if authenticated? %>
                <% if Bookmark.find_by(user: Current.user, course_id: course.id) %>
                  <i class="bi bi-bookmark-fill"></i>
                <% else %>
                  <i class="bi bi-bookmark"></i>
                <% end %>
              <% else %>
                <i class="bi bi-bookmark"></i>
              <% end %>
            </button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
