<div class="d-flex flex-row align-items-center justify-content-center" style="height: calc(100vh - 72px);">
  <div class="col-3 h-75 px-5">
    <%= form_with url: courses_query_path, method: :get  do |form| %>
      <div class="mb-3">
        <%= form.label :degree, class: "form-label fw-bold" %>
        <%= form.search_field :degree, class: "form-control", onchange: "this.form.requestSubmit()", value: params[:degree] %>
      </div>
      <div class="mb-3">
        <%= form.label :university, class: "form-label fw-bold" %>
        <% @universities.each do |university| %>
          <div class="form-check">
            <%= check_box_tag "university[#{university}]", checked: params.dig(:university, university), class: "form-check-input" %>
            <%= form.label "university[#{university}]", university, class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-6 h-75 px-5" style="overflow-y: scroll;">
    <% @courses.each do |course| %>
      <%= render "course", course: course %>
    <% end %>
  </div>
</div>
